@model OpenJob.Course.Web.Models.SchedulerViewModel
@{
    ViewBag.Title = "Index";
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#relazioni">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="relazioni" tabindex="-1" role="dialog" aria-labelledby="Tabella relazioni" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--DropDown Studenti-->
               
                        @{ 
                            var listItems = Model.students.Select(x => new SelectListItem()
                            {
                                Text = x.GetFullName(),
                                Value = x.IdStudent.ToString()
                            }).AsEnumerable();

                            var selectListStudent = new SelectList(listItems);
                        }

                        @Html.DropDownListFor(model => Model.IdSelectedStudent, listItems,"Select student", new { })
                    
            </div>
            <!--DropDown ClassRooms-->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var clas in Model.classRooms)
                    {
                        <a class="dropdown-item" href="#">@clas.IdClassRoom</a>}
                </div>
            </div>
        </div>
        <!--DropDown Lessons-->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var lesson in Model.lessons)
                {
                    <a class="dropdown-item" href="#">@lesson.IdLesson</a>
                }
            </div>
        </div>
        <button class="btn btn-primary">Salva</button>
    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    